<div class="expense-container">
    <h1 style="color: rgb(166, 30, 125); margin-top: 200px; flex-grow: 2;">Expenses</h1>
    <button mat-raised-button aria-label="Add expense" style="flex-basis: 25%;margin-top: 200px;"
        (click)="navigateToAddEditExpense()" [routerLink]="['/add-expense']">
        Add expense
    </button>

    <form>
        <mat-form-field style="flex-basis: 90%">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input type="text" placeholder="Search by description" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button mat-raised-button aria-label="Filter by">
        Filter by
    </button>

    <div class="expense-list" style="flex-basis: 90%">
        <mat-accordion multi>
            <mat-expansion-panel hideToggle *ngFor="let expense of expenses">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{expense.description}} </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end;"> {{expense.amount}}
                        RON</mat-panel-description>
                </mat-expansion-panel-header>
                <p>Date: {{expense.date}}</p>
                <p>Category: {{expense.category}}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>