.expense-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   gap: 20px;
}

button[mat-raised-button] {
    flex-shrink: 0;
}


.expense-card {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 10px;
}

form {
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
}

