div.mat-mdc-card-header-text {
    flex-grow: 1 !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.mat-mdc-card-header {
    display: block;
}