<div class="container">
    <div style="margin-top: 200px;">
        <h1>How is your money divided, monthly?</h1>
    </div>
    <mat-card appearance="outlined" class="card-spacing">
        <mat-card-header>
            <mat-card-title>
                <div style="display: block;min-width: 100%; ">
                    <div style="">
                        <button mat-fab>
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <div style="text-align: center;margin: auto;">Oct 2024</div>
                        <button mat-fab style="float: right;">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-title>


        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <h5>You are on your track for Wishes</h5>
            <p>According to the 50/30/20 rule</p>
            <mat-card appearance="outlined" class="card-spacing" style="background-color: pink;">
                <mat-card-header>
                    <mat-card-title>
                        <div>
                            Needs
                            <mat-icon
                                matTooltip="For needs we took into account expenses related to: maintenance(energy, transport, rents, car etc.), food, medical services, elephone, internet, education"
                                aria-label="Icon that displays a tooltip when focused or hovered over">info</mat-icon>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

                        <div>
                            How much have you spent already
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                        <mat-divider></mat-divider>
                        <div>
                            Ideally maximum
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="card-spacing" style="background-color: pink; margin-top: 15px;">
                <mat-card-header>
                    <mat-card-title>
                        <div>
                            Wishes
                            <mat-icon
                                matTooltip="For needs we took into account expenses related to: maintenance(energy, transport, rents, car etc.), food, medical services, elephone, internet, education"
                                aria-label="Icon that displays a tooltip when focused or hovered over">info</mat-icon>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

                        <div>
                            How much have you spent already
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                        <mat-divider></mat-divider>
                        <div>
                            Ideally maximum
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" class="card-spacing" style="background-color: pink;margin-top: 15px;">
                <mat-card-header>
                    <mat-card-title>
                        <div>
                            Savings
                            <mat-icon
                                matTooltip="For needs we took into account expenses related to: maintenance(energy, transport, rents, car etc.), food, medical services, elephone, internet, education"
                                aria-label="Icon that displays a tooltip when focused or hovered over">info</mat-icon>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

                        <div>
                            How much have you spent already
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                        <mat-divider></mat-divider>
                        <div>
                            Ideally maximum
                            <br>
                            2.000 RON
                            <br>
                            20% of your income
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
    </mat-card>
</div>