<div class="container">

    <app-simple-card class="card-spacing" title="Current Balance" content="3200 RON" [learnMore]=false></app-simple-card>
    <app-expense-card style="flex-grow: 2;" class="card-spacing"></app-expense-card>
    <app-simple-card class="card-spacing" title="Budget" content="6000 RON" [learnMore]=true></app-simple-card>

    <app-latest-transactions-card style="flex-basis: 90%"></app-latest-transactions-card>

    <mat-card appearance="outlined" class="card-spacing">
        <mat-card-header>
            <mat-card-title>Budgetting tips <mat-icon>wb_incandescent</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="tips">The 50/30/20 rule. 50% for house (groceries, utilities, transport) 30% for wants(streaming
                platforms, shopping) and 20% for financial goals (savings)</div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Learn More</button>
        </mat-card-actions>
    </mat-card>
    <app-income-card class="card-spacing" class="card-spacing"></app-income-card>
    <app-simple-card class="card-spacing" title="Savings" content="20500 RON" [learnMore]=false></app-simple-card>
</div>

<!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
<!-- https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled&selected=Material+Icons:emoji_objects:&icon.query=light&icon.size=24&icon.color=%235f6368 -->